In [1]:
import numpy as np
import pandas as pd
series1=pd.Series(np.random.randn(9),
          index=[
             ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
             [1, 2, 3, 1, 2, 3, 1, 2, 3]
          ])
series1

a  1   -1.112115
   2    0.070992
   3   -1.604778
b  1   -0.267877
   2   -0.651260
c  3    0.268161
   1   -0.414751
d  2    1.295782
   3   -0.166953
dtype: float64

In [2]:
series1['a']

1   -1.112115
2    0.070992
3   -1.604778
dtype: float64

In [3]:
series1.unstack()

          1         2         3
a -1.112115  0.070992 -1.604778
b -0.267877 -0.651260       NaN
c -0.414751       NaN  0.268161
d       NaN  1.295782 -0.166953

In [11]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [12]:
series2 = frame.stack().stack()
series2.index.names = ['key1','key2','color','county']
series2

/tmp/ipykernel_43565/99655067.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  series2 = frame.stack().stack()

key1  key2  color  county
a     1     Green  台北         0.0
                   台中         2.0
            Red    台北         1.0
      2     Green  台北         3.0
                   台中         5.0
            Red    台北         4.0
b     1     Green  台北         6.0
                   台中         8.0
            Red    台北         7.0
      2     Green  台北         9.0
                   台中        11.0
            Red    台北        10.0
dtype: float64

In [13]:

series2.unstack(level=['key1','county'])

key1          a          b
county       台北   台中    台北    台中
key2 color
1    Green  0.0  2.0   6.0   8.0
     Red    1.0  NaN   7.0   NaN
2    Green  3.0  5.0   9.0  11.0
     Red    4.0  NaN  10.0   NaN