In [4]:
def menu(wine, entree='牛排', dessert="蛋糕"):
    print(f"酒類:{wine}")
    print(f"主餐:{entree}")
    print(f"點心:{dessert}")

In [7]:
menu('白酒')
print('=========')
menu('白酒',dessert="冰淇淋")
print('=========')
menu('白酒',dessert="冰淇淋",entree="雞排")

酒類:白酒
主餐:牛排
點心:蛋糕
=========
酒類:白酒
主餐:牛排
點心:冰淇淋
=========
酒類:白酒
主餐:雞排
點心:冰淇淋

In [14]:
def menu(wine, entree='牛排',/, dessert="蛋糕"):
    print(f"酒類:{wine}")
    print(f"主餐:{entree}")
    print(f"點心:{dessert}")

In [17]:
menu('伏特加','雞排',dessert='冰淇淋')

酒類:伏特加
主餐:雞排
點心:冰淇淋

In [20]:
def print_tf(*tf):
    print(tf)
print_tf(1, 2, 3, 4, 'a', 's')

(1, 2, 3, 4, 'a', 's')

In [21]:
def print_tnt(**tnt):
    print(tnt)
print_tnt(one=1,two=2,three=3)

{'one': 1, 'two': 2, 'three': 3}

In [22]:
def print_all(*tf,**tnt):
    print(tf)
    print(tnt)
print_all(1, 2, 3, 4, 'a', 's',one=1,two=2,three=3)

(1, 2, 3, 4, 'a', 's')
{'one': 1, 'two': 2, 'three': 3}