In [ ]:
import pandas as pd
all=pd.read_csv('world.csv')
all_filter=all[['洲名','國家','日期','總確診數','新增確診數']]
all_filter

In [ ]:
all_filter[all_filter['洲名'] == '亞洲']

In [ ]:

all_filter[(all_filter['國家'] == '台灣')|(all_filter['國家'] == '日本')]

In [ ]:
all_filter.query('國家=="台灣"')
tj=all_filter.query('國家=="台灣" or 國家=="日本"')
tj

In [ ]:
tj.query('日期=="2021-08-06"')

In [ ]:
tj.query('日期>="2021-08-06" and 日期<"2021-09-01"')

In [26]:
feb=tj.query('日期>="2021-08-06" and 日期<"2021-09-01"')
feb

        洲名  國家          日期   總確診數  新增確診數
164554  亞洲  台灣  2021-08-06  15765     12
164555  亞洲  台灣  2021-08-07  15775     10
164556  亞洲  台灣  2021-08-08  15782      7
164557  亞洲  台灣  2021-08-09  15790      8
164558  亞洲  台灣  2021-08-10  15798      8
164559  亞洲  台灣  2021-08-11  15814     16
164560  亞洲  台灣  2021-08-12  15820      6
164561  亞洲  台灣  2021-08-13  15836     16
164562  亞洲  台灣  2021-08-14  15843      7
164563  亞洲  台灣  2021-08-15  15852      9
164564  亞洲  台灣  2021-08-16  15862     10
164565  亞洲  台灣  2021-08-17  15880     18
164566  亞洲  台灣  2021-08-18  15891     11
164567  亞洲  台灣  2021-08-19  15897      6
164568  亞洲  台灣  2021-08-20  15906      9
164569  亞洲  台灣  2021-08-21  15916     10
164570  亞洲  台灣  2021-08-22  15926     10
164571  亞洲  台灣  2021-08-23  15932      6
164572  亞洲  台灣  2021-08-24  15938      6
164573  亞洲  台灣  2021-08-25  15939      1
164574  亞洲  台灣  2021-08-26  15947      8
164575  亞洲  台灣  2021-08-27  15954      7
164576  亞洲  台灣  2021-08-28  15960      6
164577  亞洲  台灣  2021-08-29  15983     23
164578  亞洲  台灣  2021-08-30  15991      8
164579  亞洲  台灣  2021-08-31  15995      4

In [27]:
feb.to_csv('february.csv')

In [29]:
feb.to_excel('february.xlsx')