In [29]:
import os
current_path = os.path.dirname(os.path.abspath(__name__))
folder_path = os.path.join(current_path,'每日各站進出站人數')
fileName_list = []
for filename in os.listdir(folder_path):
    if '每日各站進出站人數' in filename:
        fileName_list.append(os.path.join(folder_path,filename))

In [30]:
import pandas as pd
import json
from pprint import pprint
stations_path=os.path.join(folder_path,'車站基本資料集.json')
with open(stations_path,encoding='utf-8') as file:
    station_content=json.load(file)
stations_df=pd.DataFrame(station_content)

stations_df['stationCode']=stations_df['stationCode'].astype(int)
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   stationCode    243 non-null    int64
 1   stationName    243 non-null    object
 2   stationEName   243 non-null    object
 3   name           243 non-null    object
 4   ename          243 non-null    object
 5   stationAddrTw  243 non-null    object
 6   stationAddrEn  243 non-null    object
 7   stationTel     243 non-null    object
 8   gps            243 non-null    object
 9   haveBike       243 non-null    object
dtypes: int64(1), object(9)
memory usage: 19.1+ KB

In [31]:
inout_df=pd.read_csv(fileName_list[0])
inout_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86932 entries, 0 to 86931
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   trnOpDate        86932 non-null  int64
 1   staCode          86932 non-null  int64
 2   gateInComingCnt  86932 non-null  int64
 3   gateOutGoingCnt  86932 non-null  int64
dtypes: int64(4)
memory usage: 2.7 MB

In [32]:
df1=pd.merge(inout_df,stations_df,left_on='staCode',right_on="stationCode")
df2=df1.reindex(columns=['trnOpDate','stationName','gateInComingCn','gateOutGoingCnt'])
df3=df2.rename(columns={'trnOpDate':'日期','stationName':'站名','gateInComingCn':'進站','gateOutGoingCnt':'出站'})

In [33]:
df3['日期']=pd.to_datetime(df3['日期'].astype(str))

In [34]:
df3.query('日期=="2020-01-29"')

/tmp/ipykernel_28174/2257512353.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df3.query('日期=="2020-01-29"')

             日期   站名  進站    出站
6657 2020-01-29   基隆 NaN  6639
6658 2020-01-29   三坑 NaN  1032
6659 2020-01-29   八堵 NaN  1615
6660 2020-01-29   七堵 NaN  4333
6661 2020-01-29   百福 NaN  1726
...         ...  ...  ..   ...
6890 2020-01-29   瑞芳 NaN  4667
6891 2020-01-29  海科館 NaN   275
6892 2020-01-29  八斗子 NaN   307
6893 2020-01-29  四腳亭 NaN   431
6894 2020-01-29   暖暖 NaN   265

[238 rows x 4 columns]